@import "tailwindcss";

@theme inline {
  --color-bg-base: #080A0D;
  --color-primary: #F26A1B;
  --color-primary-alt: #F25922;
  --color-surface-1: #1A1A1A;
  --color-text-main: #F2F2F2;
  --color-cyan: #30CFF2;

  --font-livvic: var(--font-livvic);
  --font-creepster: var(--font-creepster);

  --animate-heartbeat: heartbeat 1.5s ease-in-out infinite;

  @keyframes heartbeat {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.15);
    }
  }
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-main);
  }
}

.bg-phantom-pattern {
  background-image: url('/images/fantasma.png');
  background-repeat: repeat;
  background-size: 250px;
}

@media print {
  body, html {
    background-color: #ffffff !important;
    background-image: none !important;
    color: #000000 !important;
  }
}